.ape-autocomplete input {
    display: block;
}

.ape-autocomplete-list {
    border: 1px solid #ccc;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #ccc;
    position: absolute;
    background-color: #fff;
}

.ape-autocomplete-list li {
    padding: 1px 6px;
    margin: 0;
    
    /* color must match background-color of .ape-autocomplete-list */
    border: 1px solid #fff;
}
.ape-autocomplete-list b {
    /* background-color: #f9f9f9; */
}

li.ape-autocomplete-item-selected {
    background-color: #eef;
    border-color: #999;
}

li.ape-autocomplete-item-hover, li.ape-autocomplete-list li:hover {
    background-color: #f6f6f6;
}