.test-reporter {
    float: left;
}

.test-reporter li {
    font: bold sans-serif;
    cursor: pointer;
    color: #090;
}

.test-reporter li.empty {
    cursor: default;
    font-weight: normal;	
}

.test-reporter ul {
    display: none;
}

.pass-flag {
	color: #090;
	text-transform: small-caps;
}

.test-reporter .error ul {
	display: block;
	color: brown;
}

.test-reporter .errorStack pre {
	background: #FCFCFC;
    color: #111111;
    font-weight: normal;
    line-height: 3ex;
}

.test-pass {
	color: #000;
	background: #fff;
}

.test-fail {
    color: #900;
    border: 1px solid #FFFCF0;
    background: #FFFDFA;
}